<!DOCTYPE html>
<html>
<head>
    <title>Full Stack Python Project</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <div class="container">
        <h1>Welcome to My Full Stack Python Project</h1>
        <p>This web page is created using Python Flask.</p>

        <h2>Internship Task 9</h2>

        <p>
            This project demonstrates the integration of frontend and backend
            technologies using Python.
        </p>
    </div>

</body>
</html>

OUTPUT:

Welcome to My Full Stack Python Project
This web page is created using Python Flask.

Internship Task 9
This project demonstrates the integration of frontend and backend technologies using Python.
